<!DOCTYPE html>
<html lang="en">
<head>
    <title>PROBLEM_NO</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme-1.css">


</head>


<body>
    <form class="jotform-form" action="https://submit.jotform.com/submit/213133674629458/" method="post" name="form_213133674629458" id="213133674629458" accept-charset="utf-8" autocomplete="on" novalidate="true">
      <input type="hidden" name="formID" value="213133674629458">
      <input type="hidden" id="JWTContainer" value="">
      <input type="hidden" id="cardinalOrderNumber" value="">
      <div role="main" class="form-all">
        <style>
          .form-all:before { background: none;}
        </style>
        <ul class="form-section page-section">
          <li id="cid_1" class="form-input-wide" data-type="control_head">
            <div class="form-header-group  header-large">
              <div class="header-text httal htvam">
                <h1 id="header_1" class="form-header" data-component="header">
                  PROBLEM-NAME
                </h1>
                <div id="subHeader_1" class="form-subHeader">
                  Given two string, find the longest common subsequence between two strings.
                </div>
              </div>
            </div>
          </li>
          <li class="form-line" data-type="control_dropdown" id="id_9">
            <label class="form-label form-label-top form-label-auto" id="label_9" for="input_9"> Select submission language </label>
            <div id="cid_9" class="form-input-wide" data-layout="half">
              <select class="form-dropdown" id="input_9" name="q9_typeA" style="width:310px" data-component="dropdown">
                <option value=""> LANGUAGE </option>
                <option value="">  </option>
              </select>
            </div>
          </li>
          <li class="form-line jf-required" data-type="control_textarea" id="id_4">
            <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4">
              YOUR CODE BELOW:
              <span class="form-required">
                *
              </span>
            </label>
            <div id="cid_4" class="form-input-wide jf-required" data-layout="full">
              <textarea id="input_4" class="form-textarea validate[required]" name="q4_describeYour" style="width:648px;height:163px" data-component="textarea" required="" aria-labelledby="label_4"></textarea>
            </div>
          </li>
          <li class="form-line" data-type="control_button" id="id_2">
            <div id="cid_2" class="form-input-wide" data-layout="full">
              <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                <button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                  SUBMIT
                </button>
              </div>
            </div>
          </li>
          <li style="display:none">
            Should be Empty:
            <input type="text" name="website" value="">
          </li>
        </ul>
      </div>

      <script>
      JotForm.showJotFormPowered = "new_footer";
      </script>
      <script>
      JotForm.poweredByText = "Powered by Jotform";
      </script>
      <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="213133674629458-213133674629458">
      <script type="text/javascript">
      var all_spc = document.querySelectorAll("form[id='213133674629458'] .si" + "mple" + "_spc");
    for (var i = 0; i < all_spc.length; i++)
    {
      all_spc[i].value = "213133674629458-213133674629458";
    }
      </script>
      <div class="formFooter-heightMask">

      </div>
    <input type="hidden" name="event_id" value="1636556080532_213133674629458_8Og1GIp"></form><img id="event_tracking_image" src="https://events.jotform.com/form/213133674629458/?ref=&amp;res=1536x864&amp;eventID=1636556080532_213133674629458_8Og1GIp&amp;loc=https%253A%252F%252Fwww.jotform.com%252Fform%252F213133674629458" alt="jftr" width="1" height="1" style="display: none;">

    <script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.28974"></script>
    <script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.28974"></script>
    </body>
</html>


